@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto&display=swap');

body {
        font-family: 'Open Sans';
}
/* LOGOS */
.logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
}
/* END LOGOS */

/* Header */

.search {

    font-size: 25px;
}
.cuadre {

    background: #FF5480;
    border-radius: 5px;
}

.active {
    background: #ff5480;
    border-radius: 10px;
    width: 5%;
    height: 35px;
    color: white;
  }
  .web-icon {
    width: 99px;
    height: 29px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/icons/Web-icon.svg);
  }
  ul>li>a {
    padding: 10px;
    margin-left: 20px;
  }
  .nav-item > a:hover {
    transition-duration: 0.5s;
    background-color: #ff5480;
    color: white;
    border-radius: 10px;
  }
.flex {
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
  }

  /* END OF THE HEADER */
 
  a {
    color: black;
    text-decoration: none;
  }
  
 /* FOOTER */
footer .col-4 {
    text-align: center;
  }
.footer img{
        height: 20px;
        width: 35px;
        display: inline-block;
        background-repeat: no-repeat;
 }
 /* END OF THE fOOTER */

/* NEWS CSS ITEMS */
.color {
    color: black;
}
.mt-6 {
    margin-top: 10%;
}
.color2 {
    color: #FF5480;
    border: 2px solid #FF5480;
    width: 7%;
    border-radius: 40px;
}

/* END OF THE NEWS */

/* IMGS */

.posts {

    height: fit-content;
    width: 100%;
    border-radius: 10px;
}
.new {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    }

/* END IMATGES */
/* TOPICS */
.topics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topics-hov {

    transition: all .2s ease-in-out;

}

.topics-hov:hover{

    transform: scale(1.3);
}
/* END OF TOPICS */
/* POST PAGE CSS */

/* PAGE 2 */

.postimg1 {
    background-image: url("../img/post2img1.png");
}
.imgs {

    background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  border-radius: 10px;
  background-position: center;
}
/* END PAGE 2 */